body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2e3e3;
}

header {
    color: #ffffff;
    padding: 300px;
    text-align: center;
}

.head img {
    width:100%;
}

.head h1 {
    font-size: 30px;
    margin-top: 25px;
}

h1 {
    padding: 100px;
    font-size: 2rem; 
}

.head img {
    width:100%;
}

.head h1 {
    font-size: 30px;
    margin-top: 25px;
}

h1 {
    padding: 100px;
    font-size: 2rem; 
}

.home h2 {
    padding: 10px;
    font-size: 1.2rem;
}

nav {
    position: absolute;
    top: 10px; 
    right: 10px; 
}

nav a {
    color: #000000; 
    margin-left: 15px; 
    text-decoration: none;
}


.hero-content {
    background-image: url('imgs/backk.jpg'); 
    background-size: cover;
    background-position: center;
    color: #ffffff;
    padding: 0.5rem 2rem 2rem 2rem;
    border-radius: 10px;
    width: 600px;
    margin: 35px auto 0 auto;
    font-size: 1.1rem
}

.hero-content h2{
    font-size: 1.5rem;
    text-align: center;
    margin-bottom: 10px;
    margin-top: 10px;
}

ul {
    list-style-type: none;
    padding: 10;
}

li {
    margin-bottom: 10px;
}

#pricing {
    padding: 2em;
    text-align: center;
    font-size: 1.5rem;
}

.pricing-content {
    background-color: #5b4e4e;
    max-width: 665px;
    margin: 0 auto;
    color: #ffffff;
    display: flex;
    border-radius: 10px;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
    padding: 35px 0 35px 0;
    font-size: 1.1rem;
}


.book-type {
    background-image: url('imgs/back-hero.jpg');
    background-color: #ffffff;
    padding: 2em;
    border-radius: 10px;
    max-width: 300px;
    width: 100%;
    margin: 10px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}

.book-type h3 {
    font-size: 1.5rem
}

.book-type p {
    font-size: 1rem;
    margin-bottom: 15px;
}

.book-info {
    margin-bottom: 20px;
}

.example-books {
    font-size: 0.8em;
}

button {
    background-color: #269b2a;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #6b966e;
}


#about {
    color: #ffffff;
    text-align: center;
    padding: 2em;
}

#about h2 {
    color: #ffffff;
    margin-bottom: 20px;
    font-size: 1.5rem;
}

#about p {
    margin-bottom: 15px;
    line-height: 1.6;
    font-size: 1.01rem;
}


.about-content {
    max-width: 800px;
    font-size: 1.5rem;
    background-color:#5b4e4e;
    border-radius: 10px;
    text-align: center;
    margin: auto;
    padding: 25px 0px 25px 0px
}

#FAQs {
    color: #ffffff;
}

.faqs-section {
    padding: 2em;
    text-align: center;
}

.faqs-content {
    max-width: 800px;
    margin: 0 auto;
    font-size: 1.5rem;

}

.faq-item {
    background-color: #5b4e4e;
    border-radius: 10px;
    padding: 20px;
    margin: 20px 0;
    transition: transform 0.3s ease-in-out;
    font-size: 1.1rem;
}

.faq-item:hover {
    transform: scale(1.02);
}

.faqs-content h2 {
    color: #000000;
}

.faq-item h3 {
    color: #000000;
}

.faq-item p {
    color: #ffffff;
    line-height: 1.6;
}
